.profile_creation_title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

.profile_creation_input.MuiFormControl-root.MuiTextField-root,
.MuiInputBase-root.age_select {
  margin-bottom: 2rem;
  width: 215px;
}

.profile_creation_btn.MuiButtonBase-root {
  margin-bottom: 1rem;
}

.profile_creation_card {
  display: flex;
  flex-direction: column;
}
