.profile_creation_title,
.profile_select_title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

.profile_creation_input.MuiFormControl-root.MuiTextField-root,
.MuiInputBase-root.age_select {
  margin-bottom: 2rem;
  width: 215px;
}

.profile_creation_btn.MuiButtonBase-root {
  margin-bottom: 1rem;
}

.profile_creation_card {
  display: flex;
  flex-direction: column;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation24.MuiDialog-paper.MuiDialog-paperScrollPaper.MuiDialog-paperWidthSm.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  padding: 2rem 4rem;
}

.create_new_profile_btn {
  margin-top: 2rem;
}

.create_new_profile_btn>.nav_btn.MuiButtonBase-root {
  margin-right: 0;
}

.MuiList-root.list_item {
  text-align: center;
}

.go_back_btn.MuiButtonBase-root {
  margin-bottom: 1rem;
}