.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.wrap_welcome.css-bhp9pd-MuiPaper-root-MuiCard-root {
  max-width: 56vw;
  margin: 0;
  gap: 2rem;
  background-image: url('../../../public/noisy-texture-200x200-o10-d10-c-2e2a2c-t1.png');
  background-color: white;
}