@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.landing_title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
}

.MuiButtonBase-root.submit_btn {
  width: fit-content;
  margin-top: 2rem;
  place-self: center;
}

.MuiFormControl-root.MuiTextField-root.form_register.css-1u3bzj6-MuiFormControl-root-MuiTextField-root:focus-visible {
  background-color: none;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-bhp9pd-MuiPaper-root-MuiCard-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 50vw;
  min-height: 35vw;
  margin-bottom: 1rem;

  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 5px 5px 5px 5px #c8b6c741;
}


.login_href.MuiTypography-root {
  text-align: center;
  margin: 2rem;
}

.form_layout {
  display: flex;
  flex-direction: column;
}
