.side_bar {
  height: 87vh;
  max-width: 190px;

  background-image: url("../../../public/noisy-texture-200x200-o10-d10-c-2e2a2c-t1.png");
  background-color: rgb(49, 49, 49);

  padding: 1rem;
  padding-top: 4rem;
  margin-left: 0.3rem;
  margin-bottom: 0.2rem;

  border-radius: 0.5rem;
  box-shadow: 7px 7px 22px -6px rgba(0, 0, 0, 0.528);
}

.side_nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: 0.5rem;
}

@media screen and (max-width: 580px) {
  .side_bar {
    width: 100px;
    padding-left: 0.5rem;
  }
}