.game_wrap,
.main_wrap {
  display: grid;
  grid-auto-rows: 0.5 auto;
}

.sideBar_main_wrap {
  display: grid;
  grid-template-columns: 0.5fr auto;
}

.roles_wrap,
.welcome_no_game_user {
  margin-top: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.roles_wrap {
  display: flex;
}

.welcome_title,
.title_role_view {
  font-family: 'Shadows Into Light', cursive;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
}

.MuiList-root.list_ul_feed {
  width: fit-content;
}

.container_roles {
  height: fit-content;
}